<footer>
    <div class="progress">
        <div class="progress-bar anim-bg-flow" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row mt-2 text-secondary">
        <div class="col-6 text-left">
            <small>v 1.0 | by <a href="http://ezesoler.com" target="_blank">EzeSoler</a></small>
        </div>
        <div class="col-6 text-right">
            <small>Todos los derechos e izquierdos bien puestos.</small>
        </div>
    </div>
</footer>
