<div class="jumbotron text-center">
    <p class="lead">Formularioooooooo! En los siguientes pasos, deberás definir los campos, mensajes y cuenta <a target="_blank" href="https://es.wikipedia.org/wiki/Protocolo_para_transferencia_simple_de_correo">SMTP</a></p>
    <p class="lead">Al terminar se generará un archivo .zip con todos los elementos listos para implementar.</p>
    <hr class="my-4">
    <p>Escribe el nombre del formulario que va a ser su identificador (id) generalmente es "form" pero si tienes muchos formaularios en una sola página puedes usar otro.</p>
    <div class="form-group w-50 mx-auto">
      <input type="text" class="form-control" [(ngModel)]="formid" required placeholder="Nombre Formulario">
    </div>
    <button type="button" (click)="nextStep()" class="btn btn-success" [disabled]="formid === ''">MANDALE MECHA</button>
</div>
