<div class="jumbotron text-center">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="form-group w-50 mx-auto">
      <input type="text" class="form-control" [(ngModel)]="formid" required placeholder="Nombre Formulario">
    </div>
    <button type="button" (click)="nextStep()" class="btn btn-success" [disabled]="formid === ''">MANDALE MECHA</button>
</div>
