<div class="jumbotron text-center">
  <p class="lead">El mensaje de éxito y fracaso son los que se mostrarán en el div "#messages" cuando el usuario envíe el formulario.</p>
  <hr class="my-4">
  <div class="form-group w-80 mx-auto text-left">
    <label for="me">Mensaje éxito:</label>
    <input type="text" class="form-control" id="me" [(ngModel)]="msgExito" >
  </div>
  <div class="form-group w-80 mx-auto text-left">
      <label for="mf">Mensaje fracaso:</label>
      <input type="text" class="form-control" id="mf" [(ngModel)]="msgFracaso" >
  </div>
  <hr class="my-4">
  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="msgExito === '' || msgFracaso === ''">CONTINUAR</button>
  </div>
</div>